$theme-color: #ed8323;
$button-bg-color: #85b4dd;
$button-color: #ffffff;
$text-color: #333333;
$bg-color: #ffffff;
$icon-color: #cccccc;

$font-xs: 12px;
$font-sm: 14px;
$font-md: 20px;
$font-lg: 26px;
