//color variables
$theme-color: #ed8323;
$button-bg-color: #85b4dd;
$button-color: #ffffff;
$text-color: #333333;
$bg-color: #ffffff;
$icon-color: #cccccc;
$danger-color: red;

//font variables
$font-sm: 14px;
$font-md: 18px;
$font-lg: 26px;